.calculator {
    -fx-background-color: #121212;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-radius: 10;
}

.display-field {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-height: 40px;
    -fx-alignment: center-right;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.number-button {
    -fx-background-color: #626262;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.number-button:hover {
    -fx-background-color: #464646;
}

.number-button:pressed {
    -fx-background-color: #303030;
}

.operator-button {
    -fx-background-color: #ff9500;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.operator-button:hover {
    -fx-background-color: #e67e00;
}

.operator-button:pressed {
    -fx-background-color: #bf6f00;
}

.function-button {
    -fx-background-color: #0e86d4;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.function-button:hover {
    -fx-background-color: #0b6ea3;
}

.function-button:pressed {
    -fx-background-color: #095285;
}

.other-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.other-button:hover {
    -fx-background-color: #419944;
}

.other-button:pressed {
    -fx-background-color: #398234;
}

.scientific-button {
    -fx-background-color: #9c27b0;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.scientific-button:hover {
    -fx-background-color: #8a2387;
}

.scientific-button:pressed {
    -fx-background-color: #6a1b65;
}

.conversion-button {
    -fx-background-color: #363c57;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 110px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.conversion-button:hover {
    -fx-background-color: #2e334a;
}

.conversion-button:pressed {
    -fx-background-color: #262a3d;
}

.number-button:disabled, .operator-button:disabled, .function-button:disabled, .other-button:disabled, .scientific-button:disabled, .conversion-button:disabled {
    -fx-opacity: 0.5;
}

.number-button:disabled:hover, .operator-button:disabled:hover, .function-button:disabled:hover, .other-button:disabled:hover, .scientific-button:disabled:hover, .conversion-button:disabled:hover {
    -fx-background-color: #626262;
}

.number-button:disabled:pressed, .operator-button:disabled:pressed, .function-button:disabled:pressed, .other-button:disabled:pressed, .scientific-button:disabled:pressed, .conversion-button:disabled:pressed {
    -fx-background-color: #626262;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.history-field {
    -fx-background-color: #212121;
    -fx-min-width: 410px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-height: 40px;
    -fx-alignment: center-right;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.list-cell {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-alignment: center-right;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.list-cell:odd {
    -fx-background-color: #1e1e1e;
}

.list-cell:even {
    -fx-background-color: #212121;
}

.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #121212;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #626262;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #464646;
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #303030;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: #626262;
}

.scroll-bar:vertical .increment-button:hover {
    -fx-background-color: #464646;
}

.scroll-bar:vertical .increment-button:pressed {
    -fx-background-color: #303030;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: #626262;
}

.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #464646;
}

.scroll-bar:vertical .decrement-button:pressed {
    -fx-background-color: #303030;
}

.scroll-bar:horizontal {
    -fx-background-color: #121212;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #626262;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #464646;
}

.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #303030;
}

.scroll-bar:horizontal .increment-button {
    -fx-background-color: #626262;
}

.scroll-bar:horizontal .increment-button:hover {
    -fx-background-color: #464646;
}

.scroll-bar:horizontal .increment-button:pressed {
    -fx-background-color: #303030;
}

.scroll-bar:horizontal .decrement-button {
    -fx-background-color: #626262;
}

.scroll-bar:horizontal .decrement-button:hover {
    -fx-background-color: #464646;
}

.scroll-bar:horizontal .decrement-button:pressed {
    -fx-background-color: #303030;
}

.memory-field {
    -fx-background-color: #212121;
    -fx-min-width: 410px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-height: 40px;
    -fx-alignment: center-right;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

